ion-content{
    --background:url(../../assets/login.jpg) center center / cover;
}

ion-content > ion-list{
    position: relative;
    top: 30%;
}

.btn-center-align{
    text-align: center!important;
}

.btn-center-align ion-button{
    color: rgb(252, 252, 252);
}

.btn-center-align ion-button:hover{
    color: black;
}

ion-item{
    --background: transparent;
    color: rgb(242, 242, 247);
    --min-height: 40px;
}

ion-list{
    background-color: transparent;
}

:host{
    --min-width: 39px;
}