<ion-header>
  <ion-toolbar>
    <ion-title>galway</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ul>
    <li *ngFor = "let weather of weatherInformation">
      <img height=100 width= 100 src=" https://www.novinite.com/media/images/2019-07/photo_verybig_198527.jpg ">

      <h2> {{weather.description}} </h2>    <img height=100 width= 100 src=" https://www.novinite.com/media/images/2019-07/photo_verybig_198527.jpg ">

      <h2> {{weather.description}} </h2>
    </li>
  </ul>
</ion-content>
